@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.gradient-header {
    background: rgb(51,111,123);
  background: linear-gradient(90deg, rgba(51,111,123,1) 50%, rgba(74,166,185,1) 100%);
  }
  
  .gradient-main {
    background: rgb(76,126,162);
  background: linear-gradient(90deg, rgba(76,126,162,1) 43%, rgba(109,169,208,1) 100%);
  }

  .transparent-bg {
    background-color: rgba(255, 255, 255, 0);
  }

  .auto-search-container {
    padding: 10px;
    background: white;
    max-height: 300px;
    width: 96%;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: scroll;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 0px;
  }

  .auto-search-container > ul > li {
    margin: 2px;
    padding: 3px;
    padding-left: 16px;
    /* border-bottom: 2px solid gray; */
    cursor: pointer;
  }
  
  .auto-search-container > ul > li:hover {
    background: rgb(232, 232, 232);
    border-right: 4px solid blue;
  }

  